.cardBox {

  cursor: pointer;
  transition: all 0.3s ease;
  border: none !important;
  will-change: transform;

  width: 100%;
  max-width: 24.7rem;
  min-height: 200px;
}

.cardBox:hover {
  background-color: #f4f4f5;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12) !important;
  border: none !important;
}

.cardBox img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
/* Dark mode text wrapper */
body.dark-mode .cardBox {
  background-color: #18181b;
  color: white;
}

body.dark-mode .cardBox:hover {
  background-color: #313137;
}

/* Small devices responsiveness */

@media (max-width: 480px) {
  .cardBox {
    max-width: 20rem;
    min-height: auto;
  }
}
