.footer-container {
  width: 100%;
  color: black;
}

.footer-left {
  margin-left: 80px;
}
.socialmedia {
  margin-right: 80px;
}

.socialmedia a {
  color: black;
  transition: 0.3s ease;
}

.socialmedia a:hover {
  color: #8200da;
  transform: scale(1.1);
}

body.dark-mode .footer-container {
  width: 100%;
  color: white;
}

body.dark-mode .socialmedia a {
  color: white;
  transition: 0.3s ease;
}

body.dark-mode .socialmedia a:hover {
  color: #8200da;
  transform: scale(1.1);
}

/* desktop */
@media (max-width: 1024px) {
  .footer-left {
    margin-left: 20px;
  }
  .socialmedia {
    margin-right: 20px;
  }
}
/* Tablet responiveness  */
@media (max-width: 992px) {
  .footer-left {
    margin-left: 0px;
  }
  .socialmedia {
    margin-right: 0px;
  }
}

/* tablet Responsiveness */

@media (max-width: 768px) {
  .footer-left {
    margin: 0px;
  }
  .socialmedia {
    margin: 0;
  }
}

/* Small devices responsiveness */

@media (max-width: 480px) {
  .footer-left {
    margin: 0px;
  }
  .socialmedia {
    margin: 0;
  }
}
