.accordion-button {
  background-color: #F9F7DB !important; 

}

body.dark-mode .accordion-button {
  background-color: #c38f3c !important;
}

body.dark-mode .test-body{
    background-color: black;
    color: white;
}

.test-body{
    letter-spacing: 0.02rem;
    line-height: 1.5;
    text-align: justify;
}

body .dark-mode .test-head{
    color: black;
}
.test-head{
    text-align: center !important;
}

.card-Header{
    margin-left: 50px;
    margin-bottom: 20px;
}

.testimonial-wrapper{
    margin: 0 60px;
}

/* desktop */
@media (max-width: 1024px) {
    .card-Header{
       margin-left: 45px;
    }
    .testimonial-wrapper{
        margin: 0 !important;
    }
    .test-Accordion{
        margin: 0 45px !important;
    }
}

/* Tablet responiveness  */
@media (max-width: 992px) {
    .card-Header{
        text-align: center;
        margin-left: 0;
    }
    .testimonial-wrapper{
        margin: 0 !important;
    }
    .test-Accordion{
        margin: 0 60px !important;
    }
}

/* Mobile Responsiveness */

@media (max-width: 768px) {
    .card-Header{
        text-align: center;
         margin-left: 0;
    }
   .testimonial-wrapper{
        /* width: 100%; */
        margin: 0 !important;
    }
     .test-Accordion{
        margin: 0 10px !important;
    }
}

/* Small devices responsiveness */

@media (max-width: 480px) {
    .card-Header{
        text-align: center;
         margin-left: 0;
    }
    .testimonial-wrapper{
       
         margin: 0 !important;
    }
     .test-Accordion{
        margin: 0 10px !important;
    }
}