.nav-link-custom {
  position: relative;
  color: #000;
  margin-left: 20px;
  text-decoration: none;
}

.nav-link-custom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: purple;
  transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom:hover {
  color: purple;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-btn {
  border: none;
  background: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  color: purple;
  transition: transform 0.3s ease;
}

.theme-btn:hover {
  transform: scale(1.1);
}

.dark-mode {
  background-color: #121212;
  color: white;
}


.dark-mode .nav-link {
  color: white !important;
}

.dark-mode .navbar-brand {
  color: white !important;
}

.custom-toggler {
  padding: 2px 6px;   
  font-size: 0.9rem;  
  border-width: 2px;
}

.custom-toggler .navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

